.App {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  min-width: 300px;
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #3F7BD1;
}

.App form {
  width: 100%;
  height: 3rem;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.App input {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px 0 0 5px;
  border: 2px solid #3F7BD1;
  outline: none;
  background: transparent;
  font: inherit;
}

.App button {
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #3F7BD1;
  color: #ffffff;
  font: inherit;
}

.App .item-task {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  background-color: #3F7BD1;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.App .item-task .item-text {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
}

.App .item-task .item-delete {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.4s ease;
}
.App .item-task .item-delete:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.strike {
  text-decoration: line-through;
  color: #ff0000;
}
